.score{
    width: 100%;
}

.bar{
    display: inline-block;
    color: #000;
    font-weight: 600;
    padding: .35rem .9rem;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: cursive;
}

tbody{
    font-family: "Gill Sans", sans-serif;
}

.student_name{
    padding: 10px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
