* {
    margin: 0;
    padding: 0;
}

.container {
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:2fr 2fr 2fr;
    width: 900px;
    height: 500px;
    row-gap: 7px;
    column-gap: 7px;
    /* justify-items: center; */
    align-items: center;

}
p {
    font-size: 20px;
    text-align: left;
    color: azure;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 17px;
    font-family: "Gill Sans", sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: cursive;


}
.item{
    background-color: black;
    border-radius: 2%;
}


.picture {
    height: 120;   
    /* width: ; */
    width: 200;
    margin: 10;
    object-fit: cover;
    padding: 5;
}