.grid_dy{
    display: grid;
    padding: 10px;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container{
    border-radius: 10px;
    width: 325px;
    text-align:start;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_in_container{
    max-width: 325px;
    /* border-radius: 10px; */

}

.name{
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}