.container {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    column-gap: 10px;
    background-color: rgb(238, 211, 211);
    border: 2px solid rgb(99, 80, 73);
    height: 110px;
    width: 660px;
    border-radius: 20px;    
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.item {
    border-radius: 3%;
    height: 100px;
    margin: 4px;
}

.picture {
    /* height: 100px; */
    width: 100px;
    object-fit: contain;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

#myButton{
    width: 300px;
    margin: 50px;
    height: 50px;
}