body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 4%;
    width: 100%;
}

.p1 {
    background-color: lightgray;
    padding: 25px;
    border-radius: 20px;
}


table, th, td {
    border: 0.5px solid;
    border-collapse: collapse;

}
td {
    vertical-align: middle;
    padding: 10px;
}
